
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

.navbar {
    display: none;
}

.navbar ul li {
    list-style-type: none;
}

.fa-shopping-cart {
    color: black;
}

.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a{
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.black-btn{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

.buy-btn{
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    margin: auto 0;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

#logo {
    width: 100%;
    text-decoration: none;
    font-weight: 800;
    color: #000;
}

header {
    grid-area: header;
    width: 100%;
}

header nav {
    display: flex;
    font-size: 1.5rem;
    align-items: flex-end;
    width: 100%;
}

header nav div{
    display: flex;
    gap: 1rem;
}

.breadcrumb {
    display: flex;
    list-style: none;
    width: fit-content;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb li a:after{
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a{
    color: gray;
    text-decoration: none;
    font-style:italic;
    font-size: 1rem;
    padding: 0;
}

#breadcrumb-current {
    color: #000;
    text-decoration: underline;
    font-size: 1rem;
    padding: 0;
}



.search-bar {
    display: none;
}

main{
    grid-area: main;
}

.kampanje {
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    width: 100%;
    margin: auto auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kampanje h2 {
    max-width: fit-content;
    margin-top: 0.6rem;
    margin-bottom: 0;
}

.kampanje img {
    width: 100%;
    max-height: 150px;
    border-radius: 10px;
}

.produkt-pris-forside {
    display: flex;
    justify-content: space-around;
}

.produkter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.produkter article{
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    flex-basis: 47%;
    min-width: 100px;
    max-width: 400px;
}

.produkter article img {
    width: 100%;
    border-radius: 10px;
}

.produkter article h3{
    text-align: center;
    margin: 0;
}

.produkter article p{
    max-width: fit-content;
    font-weight: 600;
}

main h1{
    margin: 0;
}

.produkt-main img {
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}

.produkt-alt {
    display: flex;
    justify-content: space-between;
}

.produkt-alt img {
    display: flex;
    width: 55px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.produkt-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.produkt-info {
    background-color: gray;
    border-radius: 10px;
}

.produkt-info h3 {
    margin: 0;
    padding: 5px;
}

.produkt-info p {
    margin-top: 0;
    padding: 0 5px;
}

.add-to-cart-btn{
    display: inline-block;
    padding: 5px;
    margin-left: 20px;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;;
}

#size {
    border-radius: 10px;
}

.size-section form {
    margin: 0 0 10px 0;
}

.lignende-produkter img {
    display: none;
}


footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

footer section p {
    margin: 0;
}

footer section p a {
    color: #000;
}

.kundeservice ul{
    list-style-type: none;
    padding: 0;
}

.kundeservice ul li a{
    color: #000;
}


@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    #ham, .fa-magnifying-glass{
        display: none;
    }

    #logo {
        width: fit-content;
    }


    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }
    
    .navbar a:hover{
        text-decoration: underline;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        display: inline-block;
        position: relative;
    }

    ul li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
    }

    ul ul {
        display: none;
        position: absolute;
        background-color: #adadad;
    }

    ul li:hover > ul {
        display: block;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    .navbar a{ 
        color: #000;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 5px;
    }

    .navbar li a i {
        margin-left: 5px;
    }

    .breadcrumb {
        margin: 1rem 0;
    }


    .kampanje img {
        width: 100%;
        max-height: 500px;
    }

    header nav {
        justify-content: space-between;
        align-items: center;
    }

    header nav div {
        order: 1;
        float: right;
        
    }

    .search-bar {
        display: flex;
        border-radius: 1rem;
        text-align: center;
    }

    .produkt-main img {
        max-width: 60%;
        border-radius: 0px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }


}