/* Alle bildene i denne oppgaven ble generert med ai generatoren leonaro.ai. https://www.leonardo.ai/ */

/* Måtte gjøre noen endringer fordi jeg ikke fikk til alt som jeg lagde i wireframsa, gikk derfor for andre løsninger
som kanskje endte opp med å se bedre ut, og var lettere for meg å få til. For eksempel navbaren på mobil. Der valgte jeg å bytte fra
navbar i bunnen til å lage en navbar i toppen som det er på de fleste andre nettbutikker. */

/* Rakk ikke å gjøre footeren for desktop lik med enda en kategori meny, så den ser ganske tom ut på desktop. */


body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

/* CSS for navbar */

.navbar {
    display: none;
}

.navbar ul li {
    list-style-type: none;
}

.fa-shopping-cart {
    color: black;
}

.responsive{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}


.responsive a{
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.black-btn{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

.buy-btn{
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    margin: auto 0;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

#logo {
    width: 100%;
    text-decoration: none;
    font-weight: 800;
    color: #000;
}

header {
    grid-area: header;
    width: 100%;
}

header nav {
    display: flex;
    font-size: 1.5rem;
    align-items: flex-end;
    width: 100%;
}

header nav div{
    display: flex;
    gap: 1rem;
}

.search-bar {
    display: none;
}
/* */

.breadcrumb {
    display: flex;
    list-style: none;
    width: fit-content;
    padding-left: 0;
    margin-bottom: 0;
}

.breadcrumb li a:after{
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a{
    color: #2c2c2c;
    text-decoration: none;
    font-style:italic;
    font-size: 1rem;
    padding: 0;
}

#breadcrumb-current {
    color: #000;
    text-decoration: underline;
    font-size: 1rem;
    padding: 0;
}

main{
    grid-area: main;
}

/* CSS for index.html */
.kampanje {
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    width: 100%;
    margin: auto auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kampanje h2 {
    max-width: fit-content;
    margin-top: 0.6rem;
    margin-bottom: 0;
}

.kampanje img {
    width: 100%;
    max-height: 150px;
    border-radius: 10px;
}

.produkt-pris-forside {
    display: flex;
    justify-content: space-around;
}

.produkter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.produkter article{
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
    flex-basis: 47%;
    min-width: 100px;
    max-width: 400px;
}

.produkter article img {
    width: 100%;
    border-radius: 10px;
}

.produkter article h3{
    text-align: center;
    margin: 0;
}

.produkter article p{
    max-width: fit-content;
    font-weight: 600;
}
/* */


/* CSS for produkt.html */
main h1{
    margin: 0;
}

main h4 {
    margin-bottom: 5px;
}

.produkt-main img {
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}

.produkt-alt {
    display: flex;
    justify-content: space-between;
}

.produkt-alt img {
    display: flex;
    width: 55px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 0;
}

.produkt-valg {
    display: flex;
    flex-direction: column;
}

.produkt-valg p {
    margin-bottom: 0;
}

.produkt-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
}

.produkt-info h3 {
    margin: 0;
    padding: 5px;
}

.produkt-info p {
    margin-top: 0;
    padding: 0 5px;
}

.produkt-info a {
    color: #000;
}

.add-to-cart-btn{
    display: inline-block;
    padding: 5px;
    width: fit-content;
    margin-left: 20px;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
}

#size {
    border-radius: 10px;
}

.size-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.size-section form {
    margin: 10px 0 10px 0;
}

.lignende-produkter img {
    display: none;
}

#levering-metode {
    display: none;
}

#color {
    display: none;
}
/* */

/* CSS for handlevogn.html */
.fa-x {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.handlevogn-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    margin-top: 1rem;
}

.handlevogn-container h1 {
    font-size: 20px;
    text-align: center;
    margin: 1rem;
}

.handlevogn-produkt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.handlevogn-produkt img {
    display: flex;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 0;
}

.handlevogn-produkt h2 {
    font-size: 16px;
    max-width: 55px;
}

.produkt-antall {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: fit-content;
    justify-content: space-between;
}

.antall-knapp {
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.total-pris {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding: 0 1rem;
    font-weight: 600;
    align-items: center;
    
}

.buy-now-btn {
    display: inline-block;
    padding: 10px;
    width: fit-content;
    margin: 1rem 0;
    text-decoration: none;
    background-color: #171717;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
}

.buy-btn-container {
    display: flex;
    justify-content: center;
}


/* */

/* CSS for footer */
footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

footer section p {
    margin: 0;
    max-width: 150px;
}

footer section p a {
    color: #000;
}

.kundeservice ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.kundeservice ul li a{
    color: #000;
}
/* */

/* CSS for analyse.html */
/* Lighthouse SEO*/
h2 {
    text-align: center;
}

.seo-container {
    display: flex;
    flex-wrap: wrap;
}

ol li {
    font-size: 1.2rem;
    margin: 10px;
}

.trends {
   flex-basis: 48%;
   margin: 10px;
   text-align: center;
   background-color: #000;
   color: #fff;
   border-radius: 10px;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.trends p {
    padding: 10px;
    margin: 0;
}


.lighthouse-seo {
    justify-content: space-between;
    flex-basis: 48%;
    margin: 10px;
    text-align: center;
}

.lighthouse-seo p {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.lighthouse-seo img {
    width: 100%;
    border-radius: 0 0 10px 10px;
}
/* */
/* WAVE UU */
.uu-container {
    display: flex;
    flex-wrap: wrap;
}

.uu-container h3 {
    text-align: center;
    width: 100%;
}

.wave-uu {
    justify-content: space-between;
    flex-basis: 48%;
    margin: 10px;
    text-align: center;
}

.wave-uu p {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.wave-uu img {
    width: 100%;
    border-radius: 0 0 10px 10px;
}
/* */
/* ChatGPT SEO & UU */
.chat-container {
    display: flex;
    flex-wrap: wrap;
}

.chat-container h3 {
    text-align: center;
    width: 100%;
}

.chat {
    justify-content: space-between;
    flex-basis: 48%;
    margin: 10px;
    text-align: center;
}

.chat p {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.chat img {
    width: 100%;
    border-radius: 0 0 10px 10px;
}
/* */
/* CSS for tabell */
table {
    width: fit-content;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #000;
    color: #fff;
    text-align: center;
}
/* */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .forbedring-summary {
    width: 50%;
  }

 .skip-to-content {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
 }
  

@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    #ham, .fa-magnifying-glass{
        display: none;
    }

    #logo {
        width: fit-content;
    }


    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }
    
    .navbar a:hover{
        text-decoration: underline;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        display: inline-block;
        position: relative;
    }

    ul li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
    }

    ul ul {
        display: none;
        position: absolute;
        background-color: rgb(148, 148, 148);
    }

    ul li:hover > ul {
        display: block;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }

    .navbar a{ 
        color: #000;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 5px;
    }

    .navbar li a i {
        margin-left: 5px;
    }

    .breadcrumb {
        margin: 1rem 0;
    }


    .kampanje img {
        width: 100%;
        max-height: 500px;
    }

    header nav {
        justify-content: space-between;
        align-items: center;
    }

    header nav div {
        order: 1;
        float: right;
        
    }

    .search-bar {
        display: flex;
        border-radius: 1rem;
        text-align: center;
    }

    .produkt-container {
        display: flex;
        flex-direction: row;
        background-color: rgb(148, 148, 148);
    }

    .produkt-valg {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        border-left: #fff solid 1px;
    }

    #color {
        display: flex;
        flex-direction: row;
    }


    .size-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    #size {
        border-radius: 0;
    }

    .add-to-cart-btn {
        padding: 1rem;
        margin: 0;
        margin-top: 3rem;
        border-radius: 0;
        max-width: fit-content;
        text-align: center;
    }

    .produkt-main img {
        border-radius: 0px;
    }

    .produkt-alt {
        max-width: 60%;
    }

    .produkt-alt img {
        height: 90px;
        width: 120px;
        border-radius: 0;
    }

    .produkt-info {
        border: #fff solid 1px;
        border-radius: 0;
        order: -1;
        flex-direction: column;
        margin: 0.5rem;
    }

    #levering-metode {
        display: inline-block;
        margin-top: 1rem;
        margin-left: 1rem;
        width: fit-content;
    }

    /* CSS desktop handlevogn.html */
    .handlevogn-produkt {
        justify-content: space-around;
        margin: 1rem;
    }

    .handlevogn-produkt h2 {
        max-width: fit-content;
        font-size: 1rem;
    }

    .handlevogn-produkt img {
        width: 300px;
        height: 250px;
        border-radius: 0;
    }

    .antall-knapp {
        border-radius: 0px;
        margin: 1rem;
    }

    footer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .kundeservice li a {
        padding: 0;
    }

    /* CSS desktop analyse.html */


}